{% extends "base_mdb.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="d-flex justify-content-center" style="min-height: 200vh;">
    <div class="col-lg-8 text-center">
      <h2>Удалить «{{ object.title }}»?</h2>
      <div style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;"
           class="card rounded-7 mb-3 p-lg-5">
        <h2 class="fw-bold text-center">
          <span class="text-light">Удаляемый контент:</span>
        </h2>
        <p class="text-center fst-italic"><em>{{ object.description|truncatewords:100 }}<br></em></p>
        <form method="post">
          {% csrf_token %}

          <div class="d-flex justify-content-center mb-3 mt-5">
            <button type="submit" class="btn btn-danger btn-rounded" data-mdb-ripple-init>Удалить</button>
          </div>

        </form>
        <div class="d-flex justify-content-center">
          <a href="{% url 'tasks:task_list' %}?area_id={{ object.id }}" class="btn btn-dark btn-rounded mb-2"
             data-mdb-ripple-init>Список Областей</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



