{% extends "base_mdb.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  <!--Section: Content DASHBOARD-->
  <section class="mb-10 text-center">

    <h3 class="fw-bold mb-7 text-center">Dashboard</h3>
    <hr class="my-5"/>
    <!-- First row PARA -->
    <div class="row gx-lg-5">

      <!-- First column PROJECTS -->
      <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
        <div class="card rounded-6 h-100">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="{% static 'img/project_card.png' %}" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="card-body">
            <h2 class="card-title">Последние Проекты</h2>
            <a href="{% url 'para:project_list' %}" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>Read
              more</a>
            <hr class="my-3"/>

            {% for project in latest_projects %}
              <div class="card rounded-6 mb-3">
                <a href="{% url 'para:project_detail' project.id %}">
                  {{ project.title }}
                  <p class="text-muted">
                    <small>Deadline: <u>{{ project.deadline }}</u>; Area: {{ project.area.title }}</small>
                  </p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- First column PROJECTS -->

      <!-- Second column AREAS -->
      <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
        <div class="card rounded-6 h-100">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="{% static 'img/area_card.png' %}" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="card-body">
            <h2 class="card-title">Последние Области</h2>
            <a href="{% url 'para:area_list' %}" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>Read
              more</a>
            <hr class="my-3"/>

              {% for area in latest_areas %}
                <div class="card rounded-6 mb-3">
                  <a href="{% url 'para:area_detail' area.id %}">
                    {{ area.title }}
                    <p class="text-muted">
                      <small>Deadline: <u>{{ area.deadline }}</u>; Area: {{ area.project.title }}</small>
                    </p>
                  </a>
                </div>
                <br>
              {% endfor %}
          </div>
        </div>
      </div>

      <!-- Second column AREAS -->

      <!-- Third column RESOURCES-->
      <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
        <div class="card rounded-6 h-100">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="{% static 'img/resource_card.png' %}" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="card-body">
            <h2 class="card-title">Последние Ресурсы</h2>
            <a href="{% url 'para:resource_list' %}" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>Read
              more</a>
            <hr class="my-3"/>

              {% for resource in latest_resources %}
                <div class="card rounded-6 mb-3">
                  <a href="{% url 'para:resource_detail' resource.id %}">
                    {{ resource.title }}
                    <p class="text-muted">
                      <small>Deadline: <u>{{ resource.deadline }}</u>; Area: {{ resource.area.title }}; Project: {{ resource.project.title }}</small>
                    </p>
                  </a>
                </div>
                <br>
              {% endfor %}
          </div>
        </div>
      </div>
      <!-- Third column RESOURCES -->

      <!-- First row PARA -->

      <hr class="my-5"/>

      <!-- Second row TOOLS -->


      <div class="container">
        <div class="row d-flex justify-content-center">

          <!-- First column TASKS -->
          <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div class="card rounded-6 h-100">
              <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img src="{% static 'img/task_card.png' %}" class="img-fluid"/>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>

              <div class="card-body">
                <h2 class="card-title">Последние Задачи</h2>
                <a href="{% url 'tasks:task_list' %}" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>Read
                  more</a>
                <hr class="my-3"/>

                  {% for task in latest_tasks %}
                    <div class="card rounded-6 mb-3">
                      <a href="{% url 'tasks:task_detail' task.id %}">
                        {{ task.title }}
                        <p class="text-muted">
                          <small>Deadline: <u>{{ task.deadline }}</u>; Area: {{ task.area.title }}; Project: {{ task.project.title }}</small>
                        </p>
                      </a>
                    </div>
                    <br>
                  {% endfor %}
              </div>
            </div>
          </div>
          <!-- First column TASKS -->

          <!-- Second column NOTES -->
          <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div class="card rounded-6 h-100">
              <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img src="{% static 'img/note_card.png' %}" class="img-fluid"/>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>

              <div class="card-body">
                <h2 class="card-title">Последние Заметки</h2>
                <a href="{% url 'notes:note_list' %}" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>Read
                  more</a>
                <hr class="my-3"/>

                  {% for note in latest_notes %}
                    <div class="card rounded-6 mb-3">
                      <a href="{% url 'notes:note_detail' note.id %}">
                        {{ note.title }}
                        <p class="text-muted">
                          <small>Created: <u>({{ note.created }})</u>; Area: {{ note.area.title }}; Project: {{ note.project.title }}</small>
                        </p>
                      </a>
                    </div>
                    <br>
                  {% endfor %}
              </div>
            </div>
          </div>
          <!-- Second column NOTES -->

        </div>
      </div>


      <!-- Second column NOTES -->

  </section>
  <!--Section: Content DASHBOARD-->
{% endblock %}