{% extends "base_mdb.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

 <div>  <h1>Удалить запись {{ object.pk }}</h1> </div>
<h2>Вы уверены, что проект {{ object.title }} необходимо удалить? </h2>
  <div class="card col-12 text-white bg-secondary mb-3">
    <div class="card-header">
      {{ object.title }}<br>
      {{ object.description }}<br>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_button button_type="submit" content="Удалить" %}
      </form>
    </div>
  </div>


  <div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

  <button type="submit">{% if object %}Обновить проект{% else %}Создать Проект{% endif %}</button>
  </form>
  <a href="{% url 'para:project_list' %}">Назад к списку проектов</a>
  </div>


{% endblock %}