{% extends "base_mdb.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}

  <div class="container">
    <section class="text-center mb-10">

      <h3 class="fw-bold mb-3 text-center">{{ object.title }}</h3>
      <a href="{% url 'para:project_list' %}" class="btn btn-secondary btn-rounded mb-5" data-mdb-ripple-init>Список проектов</a>

      <div class="row gx-lg-5">

              <div class="col-lg-6 mb-5 mb-lg-0">

        <div style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1;"
             class="card rounded-7 me-lg-n5">
          <div class="card-body p-lg-5">
            <h2 class="fw-bold">
              <span class="text-primary">Anna Maria Doe</span>
            </h2>
            <p class="fw-bold"><em>“Don't be a tourist, be a traveler”</em></p>

            <p class="text-muted mb-4">
              Nunc tincidunt vulputate elit. Mauris varius purus malesuada
              neque iaculis malesuada. Aenean gravida magna orci, non
              efficitur est porta id. Donec magna diam.
            </p>
            <p class="text-muted">
              Ad, at blanditiis quaerat laborum officia incidunt
              cupiditate dignissimos voluptates eius aliquid minus
              praesentium! Perferendis et totam ipsum ex aut earum libero
              accusamus voluptas quod numquam saepe, consequuntur nihil
              quia tenetur consequatur. Quis, explicabo deserunt quasi
              assumenda ea maiores nulla, et dolor saepe praesentium natus
              error reiciendis voluptas iste. Esse, laudantium ipsum
              animi, quos voluptatibus atque vero repellat sit eligendi
              autem maiores quasi cum aperiam. Aperiam rerum culpa
              accusantium, ducimus deserunt aliquid alias vitae quasi
              corporis placeat vel maiores explicabo commodi!
            </p>
          </div>
        </div>

      </div>

        <small>Deadline: <u>{{ project.deadline }}</u>; Area: {{ project.area.title }}</small>
        Проект: {{ object.title }}<br>


      </div>
    </section>
  </div>







{% endblock %}