{% extends "base_mdb.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}

  <div class="container">
    <section class="text-center mb-10">


      <div class="row gx-lg-5 mb-3 justify-content-center">

        <div class="col-lg-10 mb-5 mb-lg-0">

          <div style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;"
               class="card rounded-7 mb-3 me-lg-n5 p-lg-5">
            <h2 class="fw-bold">
              <span class="text-light">{{ object.title }}</span>
            </h2>
            <p class="fst-italic"><em>Deadline: {{ project.deadline }}; Area: {{ project.area.title }}</em></p>
            <hr class="my-3"/>
            <div class="card-body p-lg-5">

              <p class="text-muted mb-4">
                {{ object.description }}
              </p>
              <p class="text-muted">
                !!!-Здесь будут комментарии-!!!
              </p>
            </div>
            <hr class="my-3"/>
            <div class="d-flex justify-content-center"> <!-- Центрируем кнопки -->
              <a href="{% url 'para:project_list' %}" class="btn btn-dark btn-rounded mb-2" data-mdb-ripple-init>Список
                проектов</a>
            </div>
            <div class="d-flex justify-content-center"> <!-- Центрируем кнопки -->
              <a href="{% url 'para:project_update' object.pk %}" class="btn btn-warning btn-rounded mb-2 me-1"
                 data-mdb-ripple-init>
                <i class="bi bi-pencil"></i> <!-- Иконка "редактировать" -->
              </a>
              <a href="{% url 'para:project_delete' object.pk %}" class="btn btn-danger btn-rounded mb-2"
                 data-mdb-ripple-init>
                <i class="bi bi-trash"></i> <!-- Иконка "удалить" -->
              </a>
            </div>


          </div>


        </div>

      </div>


    </section>
  </div>







{% endblock %}