{% extends "base_mdb.html" %}
{% load static %}
{% load django_bootstrap5 %}



{% block content %}

  <div class="container">

    <section class="text-center mb-10">

      <h3 class="fw-bold mb-3 text-center">Список всех Ресурсов</h3>
      <a href="{% url 'para:resource_create' %}" class="btn btn-secondary btn-rounded mb-5" data-mdb-ripple-init>Создать
        Ресурс</a>


      <!-- Форма поиска -->
      <div class="d-flex justify-content-center align-items-center">
        <div class="col-lg-6">
          <div style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;"
               class="card rounded-7">
            <form method="get" class="mb-4">
              <div class="mb-3">
                <label for="id_search" class="form-label">Поиск:</label>
                <!-- Задаем классы для ширины и отступов -->
                <input type="text" name="search" id="id_search" class="form-control"
                       style="width: 80%; margin: 0 auto;"
                       placeholder="Что ищем?" value="{{ filter.form.search.value|default:'' }}">
              </div>
              <button type="submit" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>Искать</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Форма поиска -->

      <div class="row mt-5 gx-lg-5">

        <!-- Column -->
        {% for resource in page_obj %}
          <div class="col-lg-4 col-md-12 mb-7">

            <div class="card rounded-6 h-100">
              <div class="bg-image hover-overlay ripple mx-3 shadow-4-strong rounded-6 mt-n3"
                   data-mdb-ripple-init data-mdb-ripple-color="light">

                {% if resource.cover_image %}
                  <img src="{{ resource.cover_image.url }}" class="w-100" alt="Обложка проекта"
                       style="width: 300px; height: 365px;">
                {% else %}
                  <img src="{% static 'img/resource_card.png' %}" class="w-100"
                       alt="Обложка проекта" style="width: 300px; height: 365px;>
                {% endif %}

                <a href=" #!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>

              <div class="card-body">
                <h5 class="card-title">{{ resource.title }}</h5>
                <a href="{% url 'para:resource_detail' resource.pk %}" class="btn btn-secondary btn-rounded"
                   data-mdb-ripple-init>Подробнее</a>
                <hr class="my-3"/>
                <p class="text-muted">
                  <small>Deadline: <u>{{ resource.deadline }}</u>;
                    Tags:
                    {% if resource.tags.all %}
                      <u>
                        {% for tag in resource.tags.all %}
                          {{ tag.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      </u>
                    {% else %}
                      <span>No tags</span>
                    {% endif %}
                    {% if resource.area %}
                      Область: {{ resource.area.title }}{% if resource.area %}, {% endif %}
                    {% else %}
                      Нет области для этого ресурса.
                    {% endif %}
                    {% if resource.project %}
                      Проект: {{ resource.project.title }}{% if resource.project %}, {% endif %}
                    {% else %}
                      Нет проекта для этого ресурса.
                    {% endif %}
                  </small>
                <hr class="my-3"/>
                <p>{{ resource.description|truncatewords:50 }}</p>
                </p>
                {% if resource.author == user %}
                  <a href="{% url 'para:resource_update' resource.pk %}" class="btn btn-secondary btn-rounded"
                     data-mdb-ripple-init>Редактировать</a>
                  <a href="{% url 'para:resource_delete' resource.pk %}" class="btn btn-secondary btn-rounded"
                     data-mdb-ripple-init>Удалить</a>
                {% endif %}
              </div>
            </div>
          </div>

          <!-- Column -->
        {% empty %}
          <p>Нет Ресурсов для отображения.</p>
        {% endfor %}
      </div>
      <!-- Pagination -->
      {% include 'includes/pagination.html' %}
      <!-- Pagination -->
    </section>
  </div>
{% endblock %}

