{% extends "base_mdb.html" %}
{% load static %}
{% load django_bootstrap5 %}





{% block content %}

  <div class="container-fluid">
    <div class="row h-100">
      <!-- Блок с Ресурсом -->
      <div class="col-lg-8 full-height">
        <div style="min-height: 1200px; background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;"
             class="card rounded-7 mb-3 p-lg-5">
          <h2 class="fw-bold text-center">
            <span class="text-light">{{ object.title }}</span>
          </h2>
          <p class="text-center fst-italic"><em>Deadline: {{ object.deadline }}; Area: {{ object.area.title }}</em>
          </p>
          <hr class="my-3"/>
          <div class="card-body">
            <p class="text-muted mb-4">
              {{ object.description }}
            </p>

          </div>

          <hr class="my-3"/>
          <div class="d-flex justify-content-center">
            <a href="{% url 'para:resource_list' %}" class="btn btn-dark btn-rounded mb-2" data-mdb-ripple-init>Список
              Ресурсов</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="{% url 'para:resource_update' object.pk %}" class="btn btn-warning btn-rounded mb-2 me-1"
               data-mdb-ripple-init>
              <i class="bi bi-pencil"></i>
            </a>
            <a href="{% url 'para:resource_delete' object.pk %}" class="btn btn-danger btn-rounded mb-2"
               data-mdb-ripple-init>
              <i class="bi bi-trash"></i>
            </a>
          </div>

          {% comment %}Comments{% endcomment %}
          <hr class="my-3"/>

          {% if editing_comment %}
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="comment_id" value="{{ editing_comment.id }}">
              {{ comment_form.text.label }}  <!-- Заголовок поля -->
              {{ comment_form.text }}  <!-- Поле ввода текста с предзаполненным значением -->
              <div class="d-flex justify-content-center mb-3 mt-3">
                <button type="submit" name="edit_comment" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>
                  Редактировать
                </button>
              </div>
            </form>
          {% else %}
            <form method="POST">
              {% csrf_token %}
              {{ comment_form.as_p }}
              <div class="d-flex justify-content-center mb-3 mt-3">
                <button type="submit" name="submit_comment" class="btn btn-secondary btn-rounded" data-mdb-ripple-init>
                  Опубликовать
                </button>
              </div>
            </form>
          {% endif %}

          <br>
          <ul>
            {% for comment in comments %}
              <div class="card mb-3">
                <div class="card-body">
                  <p>{{ comment.text }}</p>
                  <small>Автор: {{ comment.author }} | Дата: {{ comment.created }}</small>
                  <!-- Форма редактирования комментария -->
                  {% if comment.author == request.user %}
                    <form method="post" style="display:inline;">
                      {% csrf_token %}
                      <input type="hidden" name="comment_id" value="{{ comment.id }}">
                      <button type="submit" name="edit" class="btn btn-warning btn-rounded btn-sm"
                              data-mdb-ripple-init>
                        <i class="bi bi-pencil"></i>
                      </button>
                    </form>
                    <!-- Форма удаления комментария -->
                    <form method="post" style="display:inline;">
                      {% csrf_token %}
                      <input type="hidden" name="comment_id" value="{{ comment.id }}">
                      <button type="submit" name="delete_comment" class="btn btn-danger btn-rounded btn-sm"
                              data-mdb-ripple-init>
                        <i class="bi bi-trash"></i>
                      </button>
                    </form>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </ul>

          {% comment %}Comments{% endcomment %}


        </div>
      </div>

      <!-- Блок с заметками и задачами -->
      <div class="col-lg-4 d-flex flex-column">
        <div class="card rounded-7 p-lg-5 half-height mb-2 "
             style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;">
          <h2 class="text-center fw-bold">
            <span class="text-light">Заметки Ресурса</span>
          </h2>
          <hr class="my-3"/>
          <div class="card-body p-lg-5">
            {% for note in resource_notes|slice:"3" %}
              <div class="card rounded-6 mb-3 text-center">
                <a href="{% url 'notes:note_detail' note.id %}">
                  <p class="text-muted mt-3">
                    {{ note.title }}
                  </p>
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="d-flex justify-content-center">
            <a href="{% url 'notes:note_list' %}?resource_id={{ object.id }}" class="btn btn-dark btn-rounded mb-2"
               data-mdb-ripple-init>Список
              заметок</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="{% url 'notes:note_create' %}" class="btn btn-secondary btn-rounded"
               data-mdb-ripple-init>Создать
{#              <i class="bi bi-plus-square-fill"></i> <!-- Иконка "добавить" -->#}
            </a>
          </div>
        </div>

        <div class="card rounded-7 p-lg-5 half-height mb-2 "
             style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;">
          <h2 class="text-center fw-bold">
            <span class="text-light">Задачи Ресурса</span>
          </h2>
          <hr class="my-3"/>
          <div class="card-body p-lg-5">
            {% for task in resource_tasks|slice:":3" %}
              <div class="card rounded-6 mb-3 text-center">
                <a href="{% url 'tasks:task_detail' task.id %}">
                  <p class="text-muted mt-3">
                    {{ task.title }}
                  </p>
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="d-flex justify-content-center">
            <a href="{% url 'tasks:task_list' %}?resource_id={{ object.id }}" class="btn btn-dark btn-rounded mb-2"
               data-mdb-ripple-init>Список
              задач</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="{% url 'tasks:task_create' %}" class="btn btn-secondary btn-rounded"
               data-mdb-ripple-init>Создать
{#              <i class="bi bi-plus-square-fill"></i> <!-- Иконка "добавить" -->#}
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}