<section class="mb-5 mb-lg-10">

  <h3 class="fw-bold text-center mb-5">Pricing</h3>

  <div class="row gx-xl-5">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

      <div class="card">
        <div class="card-header text-center pt-4">
          <p class="text-uppercase">
            <strong>Basic</strong>
          </p>

          <h3 class="mb-4">
            <strong>$ 129</strong>
            <small class="text-muted" style="font-size: 16px">/year</small>
          </h3>

          <button type="button" class="btn btn-secondary btn-rounded w-100 mb-3">
            Buy
          </button>

        </div>
        <div class="card-body">

          <ol class="list-unstyled mb-0">
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Доступен весь основной функционал
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Размер загружаемых файлов ограничен 5 мб
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Архив ваших PARA элементов хранится до 30 дней
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Облачное хранилище до 500 мб на аккаунт
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Возможность создать не более 5 сущностей в системе PARA
            </li>
          </ol>

        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

      <div class="card">
        <div class="card-header text-center pt-4">
          <p class="text-uppercase">
            <strong>Advanced</strong>
          </p>

          <h3 class="mb-4">
            <strong>$ 299</strong>
            <small class="text-muted" style="font-size: 16px"
                   >/year</small
              >
          </h3>

          <button type="button" class="btn btn-primary btn-rounded w-100 mb-3">
            Buy
          </button>
        </div>
        <div class="card-body">
          <ol class="list-unstyled mb-0">
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Доступен весь основной функционал
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Размер загружаемых файлов ограничен 100 мб
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Архив ваших PARA элементов хранится до одного года
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Облачное хранилище до 15 гб на аккаунт
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Возможность создать неограниченное количество сущностей в системе PARA
            </li>
          </ol>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

      <div class="card">
        <div class="card-header text-center pt-4">
          <p class="text-uppercase">
            <strong>Enterprise</strong>
          </p>
          <h3 class="mb-4">
            <strong>$ 499</strong>
            <small class="text-muted" style="font-size: 16px"
                   >/year</small
              >
          </h3>

          <button
                  type="button"
                  class="btn btn-secondary btn-rounded w-100 mb-3"
                  >
            Buy
          </button>
        </div>
        <div class="card-body">
          <ol class="list-unstyled mb-0">
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Доступен весь основной функционал
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Размер загружаемых файлов ограничен 100 мб
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Архив ваших PARA элементов хранится до одного года
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Облачное хранилище до 15 гб на аккаунт
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Возможность создать неограниченное количество сущностей в системе PARA
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Доступ к аккаунту для всей семьи с раздельными рабочими пространствами
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-success me-3"></i>Бесплатный VPN-сервис от наших партнёров. Обеспечь себе доступ из любой страны
            </li>
          </ol>
        </div>
      </div>

    </div>
  </div>

</section>