{% extends "base_mdb.html" %}

{% block content %}
  <h2>Пароль успешно изменён!</h2>
  <p><a href="{% url 'core:homepage' %}">На главную</a></p>


  <div class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-6 full-height">
        <div style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;"
             class="card rounded-7 mb-3 p-lg-5">
          <h3 class="fw-bold mb-5 text-center">Пароль успешно изменён!</h3>
          <p><a href="{% url 'core:homepage' %}">На главную</a></p>
        </div>
      </div>
    </div>
  </div>



{% endblock %}