{% extends "base_mdb.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-6 full-height">
        <div style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;"
             class="card rounded-7 mb-3 p-lg-5">
          <h3 class="fw-bold mb-3 text-center">Письмо с инструкциями по восстановлению пароля отправлено!</h3>
          <p class="text-center mb-3">
            Мы отправили вам инструкцию по установке нового пароля
            на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
            Вы должны получить её в ближайшее время.
          </p>
          <p class="text-center mb-3">
            Если вы не получили письмо, пожалуйста,
            убедитесь, что вы ввели адрес, с которым Вы зарегистрировались,
            и проверьте папку со спамом.
          </p>
          <p class="fw-bold mb-3 text-center"><a href="{% url 'core:homepage' %}">На главную</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}