{% extends "base_mdb.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-6 full-height">
        <div style="background: hsla(0, 0%, 100%, 0.15); backdrop-filter: blur(30px); z-index: 1;"
             class="card rounded-7 mb-3 p-lg-5">
          <div class="card-header">
            <h3 class="fw-bold mb-3 text-center">Регистрация пользователя</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% bootstrap_button button_type="submit" content="Зарегистрироваться" %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



