{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="index_container">
  <div class="index_div">
<h1>What are you going to do?</h1>
<p class="lead">To Do List planner to make your life better. Try it now!</p>


    <div>
        <a href="{% url 'tasks:create' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Создать задачу</a>
    </div>
    <br>

    <div>
        <a href="{% url 'tasks:list' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Список задач</a>
    </div>
    <br>

        <div>
        <a href="{% url 'para:area_create' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Создать область</a>
    </div>
    <br>

    <div>
        <a href="{% url 'para:area_list' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Список областей</a>
    </div>
    <br>

            <div>
        <a href="{% url 'para:project_create' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Создать Проект</a>
    </div>
    <br>

    <div>
        <a href="{% url 'para:project_list' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Список Проектов</a>
    </div>
    <br>


            <div>
        <a href="{% url 'para:resource_create' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Создать Ресурс</a>
    </div>
    <br>

    <div>
        <a href="{% url 'para:resource_list' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Список Ресурсов</a>
    </div>
    <br>

  </div>
</div>
{% endblock %}
